@media only screen and (min-width: 740px) and (max-width: 830px) {
	.nav-bar {
		width: 100%;
		height: 45px;
		position: fixed;
		background-color: #3B4348;
		z-index: 9999;
	}

	.search {
	    text-align: center;
	    height: 45px;
	    width: 65%;
	    padding-top: 0;
	    float: left;
	    background-color: #24221F;

	    img {
		   	width: 20%;
		    float: left;
		    padding-top: 13px;
		    padding-left: 20px;
		    padding-right: 20px;
	    }

	    input {
	    	margin-top: 9px;
	    	width: 128px;
	    }

	    a {
	    	float: left;
	    	height: 46px;
	    	width: 10%;
	    	margin-top: 5px;
    		margin-left: 33px;
    	}
	    .header__icon {
		    position: relative;
		    display: block;
		    width: 50px;
		    height: 46px;
		    cursor: pointer;
		}
	    .header__icon:after {
	    	content: '';
	    	position: absolute;
	    	display: block;
	    	width: 1rem;
	    	height: 0;
	    	left: 15px;
	    	box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white; 
	    }
	}

	.menu {
		float: left;
		margin-top: 0;
	    height: 45px;
	    width: 35%;
	    background-color: #24221F;
	}

	.menu-nav {
		height: 20px;
		margin-top: 0;

		ul {
			li:nth-of-type(1) {
				display: none;
			}

			li:nth-of-type(2) {
				padding-left: 0;
			}
		}
	}

	.profile-section {
		display: none;
	}

	.panel {
		display: none;
	}

	.content {
		margin-top: 20px;
		width: 100%;
	}

	.local {
		float: none;
		width: 100%;
		height: 92px;
	}

	.loca {
		width: 33%;
		float: left;
		text-align: center;
		border: 1px solid #5e7c88;
		border-radius: 50px;

		p {
			width: 45%;
			float: left;
		}
	}

	.friends {
		display: none;
	}

	.material-2 {
		width: 98%;
		margin-right: auto;
		margin-left: auto;
		height: 200px;
	}

	.manual {
	    width: 42%;
	    height: 51px;
	    margin-top: 30px;
	    background-color: #6ABC77;
	    border-radius: 6px;
	    float: left;
	    margin-right: 25px;

	    p {
	   	    float: right;
		    padding-top: 4px;
		    color: #FFF;
		    width: 64%;
		    padding-right: 0;
	    }
	}

	.dices {
	    background-color: #6ABC77;
	    border-radius: 6px;
	    width: 50%;
	    float: left;
	    margin-top: 30px;
	    margin-right: 0px;

	    p:nth-of-type(1) {
	        width: 20%;
		    float: left;
		    margin-left: 15px;
		    margin-top: 25px;
		    color: #FFF;
	    }

	    p:nth-of-type(2) {
	        float: left;
		    margin-left: 20px;
		    margin-top: 25px;
		    color: #FFF;
	    }
	}

	.drinks {
		width: 39%;
	    float: left;
	    background-color: #6ABC77;
	    border-radius: 6px;
	    margin-top: 0;

	    p {
	    	margin-left: 0;
		    width: 50%;
		    float: right;
		    color: #FFF;
	    }
	}

	.need-2 {
	    width: 98%;
	    margin-right: auto;
	    margin-left: auto;
	    height: 200px;
	}

	.dices-2 {
	    background-color: #3f484d;
	    border-radius: 6px;
	    width: 50%;
	    float: left;
	    margin-top: 30px;
	    margin-right: 25px;

	    p:nth-of-type(1) {
	        width: 20%;
		    color: #FFF;
		    float: left;
		    margin-left: 20px;
	    }
	}

	.food-2 {
	    float: left;
	    width: 35%;
	    background-color: #3f484d;
	    border-radius: 6px;
	    margin-top: 30px;

	    img {
	    	padding-right: 0;
	    }

	    p {
	        width: 54%;
		    color: #FFF;
		    float: right;
	    }
	}

	.drinks-2 {
	    width: 42%;
	    float: left;
	    background-color: #3f484d;
	    border-radius: 6px;
	    margin-top: 30px;
	    margin-right: 15px;

	    img {
	    	padding-right: 0;
	    }

	    p {
	        width: 59%;
		    float: right;
		    color: #FFF;
		    margin-left: 0;
	    }
	}

	.description {
		width: 92.5%;
		padding-left: 50px;
	}

	.date {
		>p {
			width: 25%;
		}
	}

	.banner-description button {
		width: 180px;
		margin-right: 0px;
	}

	.images {
	    width: 70%;
	    float: left;
	    height: 120px;

	    img:nth-of-type(1) {
	        width: 50%;
		    float: left;
		    border: 1px solid lightgrey;
		    margin-left: 19px;
		    margin-top: 13px;
	    }

		img:nth-of-type(2) {
			display: none;
		}

		img:nth-of-type(3) {
			display: none;
		}

		img:nth-of-type(4) {
			display: none;
		}
	}

	.orga {
	    width: 28%;
    	height: 88%;
    	float: left;

    	img {
    		margin-top: 22px;
    	}
	}

	.organisator {
		width: 49%;
	}

	.games {
		margin-left: 20px;
	}

	.games button {
		float: right;
	    margin-top: -66px;
	    color: #3f484d;
	    margin-right: 3px;
	    margin-left: 0;
	    padding: 4px 8px;
	    display: block;
	    border: 1px solid #5e7c88;
	    border-radius: 50px;
	    cursor: pointer;
	    background-color: white;
	}

	.game-details {
		width: 70.8%;
	}

	.nav ul {
		padding-left: 20px;
	}

	.pub {
		width: 27%;
		height: 1430px;
	}
}